<section class="about" id ="about">
        <div class="heade">
            <h1> <span class = "italic"><span></span>About</span>&ensp;Me </h1>
        </div>
        <div class="contains">
            <div class="ima">
                <img  class = "pfp" src="https://scontent.fbkk2-3.fna.fbcdn.net/v/t39.30808-1/175717593_1152563065247008_5259877297021707737_n.jpg?stp=dst-jpg_p240x240&_nc_cat=111&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeFlVoIp-f02zXoRrLc7hJZBsCQI7WRDutKwJAjtZEO60mV3mFOH38F015XDWSFEiX64zbEcV3H6qS096wahel94&_nc_ohc=PoQNMMtAXyUAX9BbKMk&tn=9AVec_1Klvd68cVU&_nc_ht=scontent.fbkk2-3.fna&oh=00_AfC0geFECDVpuGMwWxc1I5QNGoJFWHEI0-MqyWzzchWKbQ&oe=637F8258">
            </div>
            <div class="about-me">
                
                <P style="font: size 20px;">Hello I'm pluz</P>
                <P style="font: size 20px;">My Full Name is Nitisarath Phuttiphaphong</P>
                <P style="font: size 20px;">I'm A student who is intreseted in machine learning</P>
                <P style="font: size 20px;">I'm Currently studying Sci-Math At sirrrathanthorn as a senior</P>
                <P style="font: size 20px;">My Hobbys Include Programming,Guitar,Basketball</P>
                
            </div>
        </div>

</section>   
    <script src ="indexs.js"></script> 
    <script src ="cursor.js"></script> 
</html>