    <section id="activity" class="activity">     
      <h1 class="activity-head">Activity</h1>
      <div class="contain-grid">
        <div class="grids">
          <div class="card_1">
            <img class="card__img" src="https://media.discordapp.net/attachments/984786999397474375/1044633667160522844/1.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">Codekathon By depa</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://cdn.discordapp.com/attachments/957891660182867999/1044635803671855256/image.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">AI Builders By vistec</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://cdn.discordapp.com/attachments/984786999397474375/1044633667567353906/2.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">Nasa space app Challange 2022</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://cdn.discordapp.com/attachments/957891660182867999/1044635507382038548/image.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">TOBEIT 67</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://cdn.discordapp.com/attachments/957891660182867999/1044636054273146880/image.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">CAI HACKATHON</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://cdn.discordapp.com/attachments/957891660182867999/1044637997078945872/image.png" alt="Codekathon" />
            <div class="middle">
              <div class="text">DISCOVERY PISCINE 42</div>
            </div>
          </div>
          <div class="card_1">
            <img class="card__img" src="https://scontent.fbkk8-4.fna.fbcdn.net/v/t39.30808-6/293803632_1782142132140381_2362552573289077583_n.png?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFjW3JBwXrz1HTshwBZXNdffxy2PBu3e6F_HLY8G7d7oTx2lhcx0b-9sGFa3EDhF59r4gzXFxyj2dsSPDSsZmVW&_nc_ohc=pqqTq0QgFV8AX8_1Xm5&_nc_ht=scontent.fbkk8-4.fna&oh=00_AfAuHrf5LPkZpsOEXSR6-xs_hmPl5mJRWaJNICGOToIlig&oe=63824B51" alt="Codekathon" />
            <div class="middle">
              <div class="text">CAI CAMP(under-going)</div>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </section>
<!--  -->
<!-- <div class="card">
  <div class="card__img-container">
    <img class="card__img" src="//unsplash.it/400/300" alt="random unsplash image" />
    <a class="card__share" href="#" title="Share" aria-label="share with others">
      <i class="fa-solid fa-share-nodes"></i>
    </a>
  </div>
  <div class="card__body | flow">
    <h3 class="card__title">Create blog cards with Open Props</h3>
    <div class="card__tags">
      <a class="card__tag" href="#">HTML</a>
      <a class="card__tag" href="#">CSS</a>
      <a class="card__tag" href="#">JavaScript</a>
    </div>
    <p class="card__date">
      Updated on
      <time datetime="2022-11-06">Nov 06, 2022</time>
    </p>
    <a class="card__cta" href="#">Read more</a>
  </div>
</div> -->