<section id="cerificate" class="certificate">     
    <h1  class="certificate-head">Certificate</h1>
    <div class="contain-grid">
        <div class="grids">
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014870522863666/1.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">Codekathon By depa</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014886096326706/2.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">AI Builders By vistec</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014897437704334/3.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">Nasa space app Challange 2022</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014901783003136/4.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">TOBEIT 67</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014911941627965/5.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">CAI HACKATHON</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014930295885906/6.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">DISCOVERY PISCINE 42</div>
            </div>
          </div>
          <div class="card_2">
            <img class="card__img" src="https://media.discordapp.net/attachments/1034479554099679272/1045014932988645476/7.png?width=941&height=678" alt="Codekathon" />
            <div class="middle">
              <div class="text">CAI CAMP(under-going)</div>
            </div>
          </div>
            
          </div>
        </div>



</section>