<section class="home" id="home"> 
    <div  class="try">
            
        <div class="test">
            <div class="contain">
                    <!-- <img src="assests\wallpaperflare.com_wallpaper (1).jpg" class="parallax"> -->
                    <h2><span class="wave">👋</span>Hi I'm</h2>
                    <div class="name">
                        <h1 id="name">Nitisarath Phuttiphaphong</h1> 
                        <!-- <h1 id="name">Nitisarath Phuttiphaphong</h1>  -->
                    </div>  
            </div>  
                <div class="posi">
                    <a href="./pdf.html">
                        <button class="cvbtn">DOWNLOAD PORTFOLIO</button>
                    </a>
                </div>
                <div class="wrappers">
                    <a href="https://www.facebook.com/plus.nitisarath/" class="fa fa-facebook"></a>
                    <a href="https://github.com/PluzNtp" class="fa fa-github"></a>
                    <a href="https://www.instagram.com/pluz_ntp" class="fa fa-instagram"></a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-youtube"></a>
                </div>
    </div>
 

</section>