<nav class="nav_menu">
    <div class="navbar">
        <h2 id="title">PLUZ_NTP</h2>
        <div class="menu">     
                <a href ="#home" class="">Home</a>
                <a href ="#about" class="">About</a>
                <a href ="#activity" class="">Activity</a>
                <a href ="#cerificate" class="">Certificate</a>
        </div>
        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
<div class="mobile-menu">
    <a href="#home">Home</a>    
    <a href="about.html">About</a>
    <a href="Activity.html">Activity</a>
    <a href="cerificate.html">Certificate</a>
</div>
<div id="cursor"></div>
<!-- <script src ="./assets/scripts/Navbar.js"></script>  -->